[submodule "Experiments/AutoSTPP"]
	path = Experiments/AutoSTPP
	url = https://github.com/ss15859/AutoSTPP.git
[submodule "Experiments/neural_stpp"]
	path = Experiments/neural_stpp
	url = https://github.com/ss15859/neural_stpp.git
[submodule "Experiments/SMASH"]
	path = Experiments/SMASH
	url = https://github.com/ss15859/SMASH.git
[submodule "Experiments/Spatio-temporal-Diffusion-Point-Processes"]
	path = Experiments/Spatio-temporal-Diffusion-Point-Processes
	url = https://github.com/ss15859/Spatio-temporal-Diffusion-Point-Processes.git